body.preloader {
    background: none;
    visibility: hidden;
}
#preloader {
    font-family: Arial;
    font-size: 24px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#preloader.complete {
    opacity: 0;
}
#preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#preloader.number .percentage {
    color: #FFFFFF;
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-image: url('../images/preloader.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top:20px;
    width: 180px;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#preloader.text .loader {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    letter-spacing: 3px;
    font-size: 24px;
    white-space: nowrap;
}
#preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}


#preloader.text .logo-element {
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5QzE1Njg2RjAwQ0ExMUU0QkE0RUI5Qjk3NEYxODlCMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5QzE1Njg3MDAwQ0ExMUU0QkE0RUI5Qjk3NEYxODlCMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlDMTU2ODZEMDBDQTExRTRCQTRFQjlCOTc0RjE4OUIxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlDMTU2ODZFMDBDQTExRTRCQTRFQjlCOTc0RjE4OUIxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+rL+zDQAAAwBQTFRF/3oB6enpiTcC/oxF/8Ga4ODg/7OC/9vE5ubmZGRk/3IZ3t7e1tbW/+TSbW1twcHC/0wANzc3//n0/+HN0NDQ/J1l/+7j2dnZ/1EAzc3N/72U/9W6gICAhoaG/8uqxsbG/Pz8ubm5/28UkZGR/2QAaWlp/6Vrbi4Cvb29/8Wg+fn5jIyMlZWVtbW1/5FJoXVX/4MyFxcXfX19+Pj4U1NT9PT0ycnJqampoYNw/5RR//HoJycoKg8BnZ2d/zsApaWl/5xcAAAAd3d3mZmZdXV18vLy/6Fl/2sM/656oaGhiYmJx1kEc3Nz//z6cnJy/2EAp0UB/6p0rq6u/9K0//Xu9vb2/30qSkpK/7mMsbGxcHBw//fx/2gA/1gAWlpat0cA/20A/18A/+na/3UAenp6/3Qi/7B+/+rc/4M7QUFB/1YA/1wA/3AA/14A/97I//Dm6mQF7Ozs/1kA/8il/1QA7+/vqTYAVyQC8PDw/5lVzdDS////N0ZS/4k+01cA510A/3gh/2oAtVAFgoKCdoOM22ADmqKo/2MMQRoBGQcB/3405enr/0YAmD8D/7aH82EA/4At//79/9i///v41EYA/86v/2cCaXN7/2YEwsrO2d7i6ksA72sGR1Vf/6huhU8q//38DAwNZxwAub/D/6Zw8lQA1Nnd/2kGwMDALy8wf39/hpKb/2YA/+zf/2QCwk4AQkVN/2IH/38B/2gD7O7v3+Hi29vbDQMACxYdERESBAQE+GQAGhsd/2cAfn5+/v7+//7+//Pr///+/+bW/2UA8fP1/HEG/14CYWBgjn91XmtzS09Y/2MC/5E4/1YD/+jW4+PjyczP/3cNqLK4aHB1g4uQ//TstVwg/6RY+2wA+W8G09PU+/z8aG1v8NC4/9u16d/Z/6tmIDE7Nykh+/v7/1cF/f39k5uiISEh/5ZWoKerTV5pTDswZ2dnBwcJ/4c4/GQA9fX1w8PE/3gq9/f38fHxoaSn/+3a+XAGvLe0/10D0WMg/FQA/GoAs5aDLD9MKiAylQAAHYdJREFUeNrsXQtcE/mdJ0LkaYyAEDCRRwYXAlgIBE6U4gyR12LGBwqGDBLJqmQIlhBW6VQXlu5Wd5VVXLbetWtxu+0ijavrtlhYE7Smd95d78pde3sP7n0ep3enHqze+9qbSQjkBZmZzASC/D4+Pok4+f++/9/79/v/E4S94BS0AsAKACsArACwAsAKACsArACwAsBSpp31x+LWFPXXbdjb378hpP/Ioc8vviAA1FxrzUjc3RlRDgCoAdDxCdIDCAykbk+8d3FZAxB9qC9xU84lWIcItIgOBmALYDHayGIBYDUi0EckXlyeAFy8FprYWQ7rDXqccTvXbmQCdIIvLi43AOrv9a/e3KXWIoh6ftZnScXPubNsALgYF5qxPedTPaLVw4CRLGmvLQcA6uM2VAR36RBEj1LgnZAAvTo6oAG4WHSov3fT04/ViJYi6zb+4bOtgWkDomuuxfQlXn4UAegQLUKHd6sVhPkZgeAFoo9k9G7qLNve2Xv5cl3FpsSyzi3luB8zGPR6uqxb2Tdq+RuXfBxQHxqyOQLF/ZleYEAFKIyoYT6q18IwQMLGLyz+qCD40BIPhKI3XC5HKdl08tuv176yYYmHwvcOlxsMsMXIAve4+hxtZyoZYAmAa2V6gdrEAvdGGBFcWt83sLSzwZrdegHAPPsmPCEyfNzZX7PU0+E+vQBWMc09oNMbdEcrQouWfj3gyFl0QfYtMFXpAFBEC3d9uDHOw6dduBs9EF2P/675yZ2lAcAAKvDMH4AnsSiCoJ/i2T1p3i242OuB/Yf3XtvpFEMei+lrD7n8KOf8/vJL7xF0qTxnf/DlkI2tdy8sMgB3Nv0OiqB4kEOEeFaeYVSLGlAtjL63vywkJHHLyXKY7M5r9T/L6e0vmrN5d+pb+zPKTka8p0f0BgR/tN4Cozq1Gv8sRI1q8YgD/5D+IwOLagNqYkLKHgV3nY8o/+ij8tSunK7NnZsPrw6NG9hZf61v9aNUNRkVwHcegXPK+opmBftO0ZqM9efL1Xo8elbDFst8CoYiBuSLw3EDi+oGcfoJFv35tUPH6mcXUt/aexLWImrvsQGM8wifrNg7l+seWxOyKQeXJDxpspASHYP+i8SaxQXAyVIdCykrRwVa1Lvyw6hBCwRX9MXN1UgyPnyK846gAEDJZSLw5TVLAoCajWWp+PpJbB3BPNzV23ps1tatOfzokg43nHRSBxOsRdcXLTIAd1tX5wDE5nnN7aw7f/7whrt2a393Q+LJckIXfMgYAQPavojJUGjdSdiA+wLvvk4vQD5+Wtdn92AXjuw9nHMJ0aJqX+NJlZrf+fmiALCm/VE5YiDBvJGwbMGJofWz9q5/934AIYMbKSEwCb5x0d8A7LyXuEWH58FkMhs9GlG2cTaxj7vXuxnXGB2TGbSJv92vANSHru7CNder7JoA3Lhd2tIbY9+fotDVwYAWFxrGsyj+Pb8BcCH0w3KtAPVusgFcPVIvz2Y20Yd6g/GwDwVYqR8IyvwDwMW9u7sEAq+Cb7IQZaItIYcu2uOj9i2pWoEeNrJF2k4/ADAQU5eqQ/RGk/cYDY3YvddmmXcW9fU+LdcLUBgwGdkjw3bWAYjL+AIRqL3vPSLQP82wmbzo1vay/bABd3UWI7ukWrB6zAAAA60fogKdxdseqmAD+miDtZMT19fbmYoYmHJ1Xl1NNJsAFIW8ZTCQkWA4p/8uns32rS7rQhGtXmf0E6nOHmbRDR45rDOg5Bai3pyRGIzn71oyKRGD/CPaAdYAOFZGbvNnVABBUNifvNsyorP32AqF11QYtBYy7FuApia9T/tuMqJ0y6xnM1hKho6tNwgAUouymIIOfqnv7yKsAT4tk4//z81dtAymif8hO9ngxV49ud3H+e++uQsc+S6GHQrZlAPgjpCaGpiIoHH7tdBUmJYHfIWdekBMBOnKP9AStArE6ZvWsl5cTMijVDUxBWIhx73WAAe338VCUVRFh/+TA2wAULPeoCe7HKDpL46DVnr4tj3wv7ahYsslVI+oAS9xk1qr3xxClLUqaHVaVPyj3lsFNABo/YR838sS9O1toJ2+6lgqisnojMAZnM8vmCywHn2lzloWvXiUVqMNl38SLQLKAFxIFJDefosq6OUz4BxluxiSa3sPPy1HDYgadtN7BO463GpLly68xTfR4v+tnSxUhetP8gHS4t8ddA50IsWY+wNj2i/vtyAORVOC+5N1ofbVD7zCV9Gy/0dJtYgoAnCt3EB6M3Dz9xLoQs37PGYTRX0hnR/jySQKwFotnio7NAF3RtDhXwWffUSuVUgNgBg+Qno1QNN/HgfdKDd+oX7SeTi1rN1p8oXe/qu0BrLzU5QA+Dl564+bvze2gZ5ocKG+4rF6l3c2n6XOvwoVHD3CRm/w52cpmL+brz8BPVMmhY88TJ1/EyAobyffIaYAQLRWS9r8NbqYv9OrDr7xsl0jaiVkPzLjy1RnrExGrXZTPSvt8TvlAvLRj7P5e+lUS1BTy83GWzOvH4aR/Mj2Cqub1MGk2UcEZfdYmg8gL41A07dPO7B//I2gJpXFaGl6bXT2vbXk/e6ajZv2W/QImeDZhBqCY9iaECkSkJRFizHoDYfo58zrQU3WXr4lyNEpFFMKvor27t7ysU6/cJNUBQtS97I3ItNJUgGA7puvjzpI/7eDTBarcKpWOcdEk9THLjblwHpkvqxAhRoSacyOkwUgmmTdHjd/DoyePhXUAth2h5/x9jonBNa10ai/HoupQOYJRXSvHGNzSKqfb6Ju/lY12aTfqNIb6jDsQbWzP+TSK0R9IvCYGiDBGJsAbEZIJn+nHY1fIzDToUVtsxopzgjsodd2D+Z7UgOTLqKdRQC6yJm/ueTvzK4Z40dEJlvsnjnMWQ2gSVoQhHhMSE16QfA11gA4qSdT+3p9zvj9eZDKYg9Me+eekww5IVD7jF5FCvWUk5lUWkE7WwC0e81J7LUvgra9PmP8CPHX9zk9aa0TArfpGYKatzxm5bit3TLADgADKGryYv5+2+7nR1e12HyfVfyDXafVXNQgnV4jvk7gqUpoMgr2H2EFAGzv2YXKUhaH2tdpu/EjxJ+/2v1Rk85qIKZXmA41GDwJpcpgqGEFAKxCMJ8MWGBEP2v+zuzCfZ99PwzoBo/PynZC4L6EFgJFuBp4WJFK/4/RrACAbfzEffoBAPQGra588998yW78vhLUDdjrmvy37s7zLO5VRwTIJkeuarlboPZkCPhf3GEFACy6vVxPlK0AYggahvVarVb3s5N1/a0XsN+8bTN+L9uNH74OHf/w/Gl5snNQFEtPDfr4njJ01dlOdgAg4vHV27s+VutgAIUvnSxbvfeebcrnn2a2vzHIaJntyiILZyaFTgiU0OxOv8L3MJRiORvDEgC2uZa4opiYuw7Fq5/esAf+duOHi7/gizgvD+JudYqJkmkhsLPMQ1ho0l8aYA8AN/rRCMHArV32wN86oCn40HtRPlnjiMBVDr2P7ze4Z0cq8mdKfQcgyhb4zxk/oigrIJeYO3uDeJpt+m8I3NQA6fqJvwAomYn8moC5rpbgFbIxOfehIwIH6C0h+pG7GhgO+QeAMYU17W20B/62wszunaQfkCd3REAzRm8ZGwUuamASJPoFgH21Vt93sxFw6ElQTEj2OHWO8miqwX+7FAmQ8/4AYPyKzffNnd/BY/EIqmeao247ILA1jKYauBQJdOU72QdgmljxrpstgGM2VraT8nPyFI5CkEJzNYlO2RH6EfuHprKI5V6/Oaf9ePBjCKH1qEqQbsHYsUigdVAD9UfRLANgM3/X50I/69kEukf6uY5qcJ9elQSrOTmnBmq2VaDDmtQfvGl0sP787fSvNJGkOSZHNGOiO4dn1WDBEXkGAJiwxf43TXP862mKv8fcIIHmQ1q1tiKBiR/KKgBJ1lXe6m6xzAU/n8RgvtFErgMChTQfEveFtUigVl9kEwCxbZHngoC52P+R76f69zX40jmaLRLwdSoVv47FXCA5f6b095UWu/M3GPoxJsjRG6yjaQqxPoEe1e5kD4AOezFnW6Nqphv2xxVxGDM04dBWHImk+ZAjn3yZ/AVLlAFImF3grW91m4wWWA+8+h0OxhR1hDMQExVRkEeKAEwS6j96JffKurT77/+qBVXrLpX99dvfn55kDAEnbyDCWCeqABTHP+Nwn43JbJFHRl1MPeNLmnAYLsqXLDEA/EI78h06R+MvIAAzVRafOkcBDgA27eANKl9EADCZgxqkPXgBAZjJtmeqJJwXEYCZhMNGUS8iANjzfN9jooAGwEkNavPlhZXilILC9PGJ2B15suQXAoCZuoM7PRm5/fdbr77//u9//c0/+efv/9Ha8R8OcySyB8sPAOyHX3Nh/datW2dw2nbm1rZtt25tuwWeOYO/aQXlyu1fv3/jX77+zV+++e/iQW5S7AlOpEwyhWFjssnABQDDfnfbttOnX1p17tyugwevn3rtnc8+M5pUKlW3jVQq47+9885rp65fP/jquVUffHB8260zZ5yFpVlzQOJ/AH7OxL1/O1sTN/3ZH7zX3dLUFBQU1IRTS0sjTt2ORLzR0kL8o/WHWlq6Te+cur7r3Cociyc//vXvvVnAeeB/FYjT/qGvCNyJWd2FahE90NitIn9qzGTCZaPRilhT4ztfCc5Yszg24DJfkOrbveehRw0CnU+XS5hw4bDAcE7rogAgUJ31pUhas4WPGBm5V8SEfPma/wF4/j8qk77zR8NTYQXctqhxSV7bszEJhc7vxW/wabNvsQD4L2KQyQigOrWAfzTaDwA8cHY0v/VqkxH4v7/9YV5Ywjh3MPL5cHwHN70gMn2aExYb+TxqLactIWysoy150rN5upAqoHZWCgB0KKpXG3QoH4URAwzAKIqoP/20vCunYsMFf6jAPucS7oM/NRkB7X84vjX27MEUd8czLicvqoAzkRI1PhHPjU1aO50wncTlJkVxktaGRSWdsP1sCMnTOcSsGqIljmGrU7tyNm++XNa7ob299d7evpgjx+qPhK6J9t4hZQiAKZnz6y+pjSat1zmBSQn2nDu1I75NVpAwnlI4faAYIvRkIMLbZLYFVqN64nL2jyK27F6duLH1SM0FmitnCIA2l8rVbyAqo4H65ffZV4g/o2F4oV0ndtySenJ3Xfuau3d3+rpyhgDocGnm/epb3UbdasqPUdy3xj+A5zt2AOKLGNSp23vbW48tte8ZkrgA8F/vNhq11AFoMFv/KnOzAQAu8Qh8fn3ihkPRGKPElBsc3OH08qsHW4wC6gDkZrt7QROs1+rh/Z2JrXEYC8QUANnjLn6wxQhTPsXEAWcmhOqDiYsFCUK12kvBFRsODWAsEVMA7HEed357VZMRzaFeBJstc/Tt3k9cmZ0avLr9GMYmMQVApXPx+i+/A5jQLqqWqhR0eDFQ//ndmnrWs22mAEh/7BII/K8KvkQ1Ibyxzv/lBqYAGG5wKWN8rxtGqe7fk6rABaDD5VKAnndbAMsaas+QjBYGLgDJD53Pv/3i1SYApXaSHxsHhz1kGcmBAQA24ly5n1jVBCDUDrBhKaD7HTPPogJEArCrzleDfH9VkwWmeJpfccX9vR2DgQJAfq1zIHC80WQIpfaIhx6cQEJSoABQnOv0cuxfv9eNUPwuMFDuQS0KAwWAwVFna3X/3RaUWjLw3NMsxFDASED8qLMb+KuDTfxeSk+I8uQE1sUGCgAcsMDp9ddXBem2U3pCIeh+qUbHyPNAAWDKZZTlFx8EodQAuA+6t/DWgpOBAsDYk3znhPiDFi01AEa2ur8nGgmUSBB3Ys5r/elxC/CUUiAMprm/eXtd4ADQADoV+ZP/4XswJQCGPZ2VARsCBwAz6FwUan7XEkGljlPo4Qj5OGgOHADELpNMv3y1SUAlGRgC3YdCK+meKl8MAKZdTnn84KUgwWYqyQQoc88OXO9hXcoAxLvo65ung4wC8r0RCZjrnmOP0D1QvRgARILOwfB3wc+aYMFhsidpOOB9t/fa6F63tSgAcEDQqTcQBh6/2Q0Y4E11q/tDNvT11RQt2MZK8nA4IBsExwMHAJnLPOe+J+C5m40WWGtQC9QI8h5sPP/0ZFlnRW9daP+aQzH1LniUelD3THCUEzgAjDU7X442uRUEV7UQY0uN3SZrK1uPwlo1jocB1qEWGx7bK+pC+mIINXnsIRVqBq8E0oGJBpcrkZqJg1Uvnbv+2jvdtvmtRtXcQAMAAyiOhw4RoIj6Z+vjsB+7S/s+EGzGAgiANDDfBRD7xXLbjr+0atep1z5rbLIJhMq12y9Qrb8ymueeH/sWCD4Y8y8AIvCKUzAcVixu2HplbmJx1ArEwVOvmYgptqaWbtVsA1QFqLZ9ze2BpSCooL8cblSbnwEQg+6hzKSMm1JZ1ZDrNOx6hhj8vP5adwshEE2NxNhnUNOZH7g98DEICula5JTK6fExP6tAOghOzLee8YQDQl7tiCMOo9tOH39p18FT7zS2tHS/fNz9eknJE5oXrU1m3+eVdPjfBkR5vftgR2RCtjn8xojz9PO206eJi+gKPIRBdFKBYfntG9k7FsMIjoMgud7e1HjCHs19Z3kA3ethxO0qVEuisT1PwKuUWgkMAoDvWD4lPZ0ozNI0P5w5Jjma7O5W59cpzwsovIovgeKJYwYB2AGCT6jHLXkdUenFvHW5bh5/8iGlm3fHU4gDNkOUkycGAcBDQbCN7n+WubUFuYRckIyEOSW11qPGJxY1ECJktoC5pxGXr46SKYqfiLUerrpSKlvkSBBT0L8Cx2OFCARzvapUR7Yt4NxKj31mAchk9Lw7cU1N7cI/si8pzWZC1w3STpoYBuBqOreNmQSugzg9HL4Q9ykNMw5kXboP3RMmAUi3+bOH+VXFByY4+3x7WCzxrNJ5C2ixQnt4fcM3u8MkAPHOX6jTrKgqnODsoLk7xfPfNCpbmzl78VS4r81TJgHY4emI48jWBlFh+jDla/Jq5zkwOxarmUutwn0vGTIJgCQXnJce3rgvSk8YJh2jJ+d6AmAyqsThXm4okoFFMwnA2FXQG11Z1yAvTo/vIKlOzpFwVKbjB4iYKRgzemjqIUiSRq/WhotToiL3LRgGgaDDFoeVOt7J/qRExtCaGQUgXdx8G6RCtxuqKrMnPDlOnhUnO5fc0mYnu1LaxtiamT42J2kbLxDlUkIBHM2t1WSWxDo6zmSbI5HYkrx8Z3NSwmSpmPlzg5KwJJGiofZq7hWQIo1c5Ykq08fbHlibDLZAMLI43+UL+9bmMbpchgHgJGRCcqgnMysrSyRNq736kDIKuH4/zC+x3TndXODCPbhuD9P7xSQAsoniaqXUPGSjHpE4KytTymtovpoLMkO1CWPY0gXgWRKkkA+5kLAKFwaxSPE4f93WER/Z57EyMccYABMannnIMwl7MnFhEAvD85sfjozSZD+fpalphgCQVfI0wqEFSWhViR55Q+2625QtQw9rbXJmAJBAioXZl0rtKBDCUGVOy2/emvuELPtmJ/bHJJIHUzvaOmR5kryxJQJA4WPPfJulUilULZebq0SO+tEjsloGzf3mqyQCp6wZty/hjI9HDWZniavsYJtF4uLshMiwfYsOAFcDyRVyuVKqgSD8l3SoWmFWyhUK/FXVgYKEhKRCkdRdJarEODPyhe1jbRK+yTJO1GBhqUijUSqqFRrIrNFopGYp/qcZguTV1dBQafZE2Nii2gAJJyopZc+eLJFI1CPCxbxwT+V0ekL88+RkyfOwhGyxVDqffayy2kfl/RtXH7rbx62V3OdRhWINzqUc0gyZ5zGzuJRVa8SD45JFdYO2fHUsOXkSm9uMjqQSqUIOSb3Zx0xx5lB1mhJSrnPQiSe1WdkiRTWkkZqHvBOkrBYlyRYbAMea3fB0pQZfvtTr0qXytMdKUfGgbULi+WBpPmEfR2qlpSKIDOuzpFFA2ZwlAcCDyPQSqVwpJ8E8lPZYISpZO2wX38kd3IRCkaYhf6i0ykyJfevjFNV72hYZgMmwwWIpHhSS23mFuWSaa5+rOJGwR6xRPuZBhH0USYdokNCsUKSMLR4AHRN7Mq32ihTzosqUSHuRrC0hO2sIVwWNVDjkEwmlvKy8RQFgajglC3f6kPclaniPFVUlg9y8WebxnU9L40FDPjI/83wlL8/vAHREFUrlcu82SyitTnusKU7hSpyZV2qGmCMhr2fMrwB0xJYoeCSU3gwRW1+YZLfUJ+Kzi5lm3obA/Xi/ATB2IqlUziMj97h1ExYPRk7OMW/G32KceSvJS/0DwNh4uria51XwhUMaXjgkzp6YiVM4sQdKpTzc2kuFQ+wQJPYHALJ4MQR5ZUJolqelaUpTwmatvVjDKvNWCchiHQAJtxBSQiTc8mOeqDB2yhobxk8XZlp13swm81YrmMIyAJxBIU9OwuTzeOJ0q8njJh3I6uGlpSk0Q/4gXhubAIyNVyqVZOI0jfAALviS+EKxSIFvPCQd8g8JlcUsxgGSBDFPTtIUVaWnlJrlvDQyWQGD/GvCp1gDQDY45F3zHVQA33eNeci/JAynUEClBsBUikapEfqJDw3NTxKmUTlqRgWABwkahdRP7EshZXEpvXxQSekyHgoAxIt4/tp93MGWcNpK6XgMobxqkhUAZKX+En5IDmUlTGH7euRCOgZQSq15ShaACUjuH8VXKLIGiaCRy4No8N8DyTswFgCQFaf5Y/s11XLxWluqOEhL3nqUUqplUVIADFdXs8++Rg5VrbV/42gKj461FVYrKA8PkAFgkHXjZ4YUGnHKbG0Qy06jZ/811DsD3gGYLOSxm7toqqs1lQWOnR1a/ONRV+kUxjwADzJ57LFvJlpqouwJ5/HBFFr8Q0pat255AyBZqmSJfynOOyQuTAhzvV479j712qhQwxPRO2ftBYDJHl4PK65eoRgqTonkeIhZOOGU7Z9QqoCmaX4bkxcAxGlM8y/VyBXVxMbPo68Syv5fOAQp9kxhGBsApIT3MCv1SqJfnhC2QLAqpmxyIGWWD4fsFwSAE86kxuNpdHFS1ImFb4hMCBdSVH5lpk8z0wsBMCaUC5kyd5rMA7Hj3r9GVUKtTC4cUpiHfRuTWQiAqDSf+TdL5dUQVLonSkYuRTtASQFw11/o69jsQgBkVfu48dUKqKdkMJL8hXBTSjM1g+r7FSMLACBTmH2R+mpN1oGJMGobNE1N5jSiSTYBiKcXAuLRnVIhFa/l7qC8GAnFurFQCg2yCEAKRMPJW6W+gEvPLUdShVwo9ckFegFggloQjDt5uTQzJdaHc4PZShoVMGXKGFs2gLRFInIaOVSZFC/zzSWVUpe5IaFZKZax5AVKyYiAFMKZF5XQUXm3xFNKq28mrIY62AFgKnzhQogZD+shafGeCQ4zZ1jaIHpuRwjxOKwAgHHS5gsFzUR0J8/cUzDO1OktovJGuxUEpT1nBQCMU4obNqGrpYeU1dBQVkosh+EbX8eldAMPoZyXzAoAuCso1uD2TWo2S/HfGggP7jSi4rUJJMJ6GgMX9FuoQmUmSwDgliA2pZLwcQqNdKg4uyCqg7X7zSZFEO3QUxhewBYABOW1cWSysDa2r3Yr9qH5IuVJWATAT5TkQ/1VmJYS+AA8T6MvAUMa+YOABwAT+6ADwrThwAcg0pcSTHVx4AMw1uODCGiky+CrtyMf0xcBKbQv8AHAxPQbUVJItgwAePaYdid6eQCARdLuRUg1y0EFMOwAXU8AicaWBQAYzX68kLcWWx4ATPbQMoRm3tQyAQCTCBVCGgJQiS0XALA8kZJyV1qatm/5AIA9yKLcIbhP84KNpQkANllMcTKLR/dL2ZYoAMRsHvlJEeEQTQOwlAHAxoUKksNSQg09D7jEAcAeZPMUQiGJ7ZdDCdhyBAAXgkJetVf2IWWJD42hpQ0AhoUVKuQLdAuEUrmi1LchiSUOAIZ1DPYoqj33zKSQAir2dUZkyQOA24KwFDGkrJZr5k5fmTUaSKHQlCZ1+Pz0AACAKJW1DU9XZgohhRTCyayQCzMrp+MZaUsGBgA2SZjicBNicSrgcmSM9WgCCAB2aAWAFQBWAFgBYAWAFQBWAFgB4IWl/xdgANTIkaRJXWnfAAAAAElFTkSuQmCC);
background-size: 100%;
position:absolute;
top:18%;
left:40%;
}