@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-un03ff');
	src:url('fonts/icomoon.eot?#iefix-un03ff') format('embedded-opentype'),
		url('fonts/icomoon.woff?-un03ff') format('woff'),
		url('fonts/icomoon.ttf?-un03ff') format('truetype'),
		url('fonts/icomoon.svg?-un03ff#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow483:before {
	content: "\e600";
}
.icon-cube:before {
	content: "\e601";
}
.icon-cube12:before {
	content: "\e602";
}
.icon-cube25:before {
	content: "\e603";
}
.icon-cylindrical7:before {
	content: "\e604";
}
.icon-delete:before {
	content: "\e605";
}
.icon-down:before {
	content: "\e606";
}
.icon-drafting1:before {
	content: "\e607";
}
.icon-duplicate:before {
	content: "\e608";
}
.icon-edit26:before {
	content: "\e609";
}
.icon-email:before {
	content: "\e60a";
}
.icon-expand:before {
	content: "\e60b";
}
.icon-house:before {
	content: "\e625";
}
.icon-images11:before {
	content: "\e626";
}
.icon-info:before {
	content: "\e60c";
}
.icon-jpg:before {
	content: "\e60d";
}
.icon-lamp:before {
	content: "\e60e";
}
.icon-landscape:before {
	content: "\e60f";
}
.icon-light:before {
	content: "\e610";
}
.icon-login:before {
	content: "\e611";
}
.icon-map:before {
	content: "\e627";
}
.icon-mouseleft:before {
	content: "\e62b";
}
.icon-move:before {
	content: "\e612";
}
.icon-navigate6:before {
	content: "\e613";
}
.icon-new:before {
	content: "\e628";
}
.icon-open:before {
	content: "\e614";
}
.icon-plants:before {
	content: "\e615";
}
.icon-print:before {
	content: "\e616";
}
.icon-redo:before {
	content: "\e617";
}
.icon-resize:before {
	content: "\e618";
}
.icon-rotate:before {
	content: "\e619";
}
.icon-save:before {
	content: "\e61a";
}
.icon-screenshot:before {
	content: "\e61b";
}
.icon-search:before {
	content: "\e61c";
}
.icon-set1:before {
	content: "\e629";
}
.icon-share:before {
	content: "\e61d";
}
.icon-shopping:before {
	content: "\e61e";
}
.icon-sofa1:before {
	content: "\e62a";
}
.icon-stack:before {
	content: "\e61f";
}
.icon-undo:before {
	content: "\e620";
}
.icon-up:before {
	content: "\e621";
}
.icon-usb3:before {
	content: "\e622";
}
.icon-vector:before {
	content: "\e623";
}
.icon-vector13:before {
	content: "\e624";
}
