@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wwy71w');
	src:url('fonts/icomoon.eot?#iefixwwy71w') format('embedded-opentype'),
		url('fonts/icomoon.woff?wwy71w') format('woff'),
		url('fonts/icomoon.ttf?wwy71w') format('truetype'),
		url('fonts/icomoon.svg?wwy71w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
	content: "\e624";
}
.icon-html:before {
	content: "\e630";
}
.icon-ruler:before {
	content: "\e62a";
}
.icon-random:before {
	content: "\e620";
}
.icon-panorama:before {
	content: "\e626";
}
.icon-fall:before {
	content: "\e675";
}
.icon-rise:before {
	content: "\e676";
}
.icon-angle:before {
	content: "\e680";
}
.icon-vector-circle:before {
	content: "\e681";
}
.icon-vector-square:before {
	content: "\e682";
}
.icon-roof:before {
	content: "\e600";
}
.icon-armchair:before {
	content: "\e601";
}
.icon-arrow483:before {
	content: "\e602";
}
.icon-bed:before {
	content: "\e604";
}
.icon-box:before {
	content: "\e60a";
}
.icon-catalog:before {
	content: "\e60d";
}
.icon-chair:before {
	content: "\e60e";
}
.icon-circle:before {
	content: "\e60f";
}
.icon-clip:before {
	content: "\e611";
}
.icon-close:before {
	content: "\e612";
}
.icon-cloud127:before {
	content: "\e613";
}
.icon-cube:before {
	content: "\e614";
}
.icon-cube25:before {
	content: "\e615";
}
.icon-cubedash:before {
	content: "\e616";
}
.icon-day:before {
	content: "\e618";
}
.icon-delete:before {
	content: "\e619";
}
.icon-display13:before {
	content: "\e61c";
}
.icon-down:before {
	content: "\e61f";
}
.icon-draftplan:before {
	content: "\e621";
}
.icon-draw:before {
	content: "\e622";
}
.icon-duplicate:before {
	content: "\e623";
}
.icon-edit:before {
	content: "\e625";
}
.icon-email:before {
	content: "\e627";
}
.icon-expand:before {
	content: "\e628";
}
.icon-expand2:before {
	content: "\e629";
}
.icon-export:before {
	content: "\e62b";
}
.icon-floors:before {
	content: "\e62c";
}
.icon-help:before {
	content: "\e632";
}
.icon-house:before {
	content: "\e633";
}
.icon-images11:before {
	content: "\e634";
}
.icon-import:before {
	content: "\e635";
}
.icon-info:before {
	content: "\e636";
}
.icon-kitchen:before {
	content: "\e638";
}
.icon-lamp:before {
	content: "\e639";
}
.icon-landscape:before {
	content: "\e63a";
}
.icon-landscape2:before {
	content: "\e63b";
}
.icon-light:before {
	content: "\e63c";
}
.icon-login:before {
	content: "\e63d";
}
.icon-magic2:before {
	content: "\e63f";
}
.icon-map:before {
	content: "\e640";
}
.icon-measure:before {
	content: "\e641";
}
.icon-move:before {
	content: "\e643";
}
.icon-moving5:before {
	content: "\e644";
}
.icon-navigate6:before {
	content: "\e645";
}
.icon-new:before {
	content: "\e646";
}
.icon-next:before {
	content: "\e647";
}
.icon-night:before {
	content: "\e648";
}
.icon-open:before {
	content: "\e649";
}
.icon-outlets:before {
	content: "\e64a";
}
.icon-paint:before {
	content: "\e64b";
}
.icon-pencil:before {
	content: "\e64c";
}
.icon-photo:before {
	content: "\e64d";
}
.icon-picture:before {
	content: "\e64e";
}
.icon-plants:before {
	content: "\e64f";
}
.icon-pointer2:before {
	content: "\e650";
}
.icon-previous:before {
	content: "\e651";
}
.icon-print:before {
	content: "\e652";
}
.icon-print2:before {
	content: "\e653";
}
.icon-redo:before {
	content: "\e654";
}
.icon-resize:before {
	content: "\e655";
}
.icon-resize1:before {
	content: "\e656";
}
.icon-resizing:before {
	content: "\e657";
}
.icon-rotate:before {
	content: "\e658";
}
.icon-rotate2:before {
	content: "\e659";
}
.icon-rotate3:before {
	content: "\e65a";
}
.icon-save:before {
	content: "\e65b";
}
.icon-screenshot:before {
	content: "\e65c";
}
.icon-search:before {
	content: "\e65d";
}
.icon-select:before {
	content: "\e65e";
}
.icon-set1:before {
	content: "\e65f";
}
.icon-settings:before {
	content: "\e660";
}
.icon-share:before {
	content: "\e661";
}
.icon-shopping:before {
	content: "\e662";
}
.icon-sofa1:before {
	content: "\e663";
}
.icon-square:before {
	content: "\e664";
}
.icon-stack:before {
	content: "\e665";
}
.icon-task:before {
	content: "\e667";
}
.icon-terrain:before {
	content: "\e668";
}
.icon-test:before {
	content: "\e669";
}
.icon-triangle19:before {
	content: "\e66d";
}
.icon-two:before {
	content: "\e66e";
}
.icon-undo:before {
	content: "\e66f";
}
.icon-up:before {
	content: "\e670";
}
.icon-updown:before {
	content: "\e671";
}
.icon-upload:before {
	content: "\e672";
}
.icon-usb:before {
	content: "\e673";
}
.icon-vacuum:before {
	content: "\e674";
}
.icon-vector:before {
	content: "\e677";
}
.icon-vector2:before {
	content: "\e678";
}
.icon-vector17:before {
	content: "\e679";
}
.icon-vector18:before {
	content: "\e67a";
}
.icon-vector19:before {
	content: "\e67b";
}
.icon-walls:before {
	content: "\e67c";
}
.icon-washing:before {
	content: "\e67d";
}
.icon-windows:before {
	content: "\e67e";
}
.icon-yardtree:before {
	content: "\e67f";
}
