#top-component {
	bottom: 20em;
	margin-bottom: 5px;
}

#horizontal-divider {
	bottom: 20em;
	height: 5px;
}

#bottom-component {
	height: 20em;
}

#left-component {
	width: 20em;
}

#vertical-divider {
	left: 20em;
	width: 5px;
}

#right-component {
	left: 20em;
	margin-left: 5px;
}

#top-component2 {
	bottom: 50%;
	margin-bottom: 5px;
}

#horizontal-divider2 {
	bottom: 50%;
	height: 5px;
}

#bottom-component2 {
	height: 50%;
}
			
.pretty-split-pane-frame {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: silver;
}

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
	background: blue;
	opacity: 0.25;
}

.pretty-split-pane-component-inner {
	box-sizing: border-box;
	border: 1px solid gray;
	background: white;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	overflow: auto;
}
