#top-component {
	bottom: 50%;
	margin-bottom: 5px;
}

#bottom-component {
	height: 50%;
}

#horizontal-divider {
	bottom: 50%;
	height: 5px;
}

#vertical-divider-1 {
	left: 40em;
	width: 5px;
}

#left-component-1 {
	width: 40em;
}

#right-component-1 {
	left: 40em;
	margin-left: 5px;
}

#vertical-divider-2 {
	left: 40em;
	width: 5px;
}

#left-component-2 {
	width: 40em;
}

#right-component-2 {
	left: 40em;
	margin-left: 5px;
}
			
.pretty-split-pane-frame {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: silver;
}

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
	background: blue;
	opacity: 0.25;
}

.pretty-split-pane-component-inner {
	box-sizing: border-box;
	border: 1px solid gray;
	background: white;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	overflow: hidden;
}
