#scroller * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll {
  border: 1px solid #aaa;
  overflow-y: scroll;
  background: #fff;
}

html {
  -ms-touch-action: none;
}

body{
  padding: 0;
  margin: 0;
  border: 0;
  overflow:hidden;
}

#scrollWrapper {
  position: absolute;
  z-index: 1;
  top: 140px;
  bottom: 55px;
  left: 55px;
  width: 320px;
  background: #fff;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  
  /*-webkit-transform: translate3d(0,0,0);*/ /*http://cantina.co/thought_leadership/ios-5-native-scrolling-grins-and-gothcas*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.scrollerItem {
  /*
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
 
  background-color: #fafafa;
  font-size: 16px;
  */

  width:250px;
  height:110px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border:1px solid #000000;
  padding: 10px;
  margin:15px;
}